
<nav class="docs-navbar-header">
  <img src="assets\images\colormass-logo-cm.svg" class="logo" />

  <div class="button-row">
    <button mat-button class="unselected">Models</button>
    <button mat-button>Materials</button>
    <button mat-button class="unselected">Images</button>
    <button mat-button class="unselected">Users</button>
    <button mat-button class="unselected">Customers</button>
    <button mat-button class="unselected">Tags</button>
  </div>
  <div _ngcontent-c1="" class="flex-spacer"></div>
  <div class="button-row">
    <button mat-button>Tas Soti <mat-icon>expand_more</mat-icon></button>
  </div>
</nav>
