
<div class="modal">
  <div class="modal-content">
    <div class="modal-body" height="1000">
      <div class="dataClm">
        <mat-list>
          <mat-list-item>
            <h2>{{ material.name }}</h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{ material.id }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-chip *ngFor="let tag of material.tags" class="material-list-chip">{{ tag }}</mat-chip>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>-description-</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>-description-</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>-description-</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>-description-</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <img class="imgClm" [src]="material.gallery_image" alt="{{ material.name }}">

    </div>
  </div>
</div>
